<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fair Allocation - Bids</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Enter Bids</h1>
    <form action="" method="post">
        <table>
            <tr>
                <th>Students bids:</th>
                {% for course in courses %}
                <th>{{ course.name }}</th>
                {% endfor %}
            </tr>
            {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                {% for course in courses %}
                <td><input type="number" id="bid_{{ student.name }}_{{ course.name }}" name="bid_{{ student.name }}_{{ course.name }}" min="0" max="1000" required></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <button type="button" class="random-button" onclick="randomizeBids()">Random Bids</button>
        <button type="submit">Submit</button>
    </form>

    <script>
        function randomizeBids() {
            let totalBid;
            let numCourses;
            let bids = [];
            let bid;
            let bidValue;

            {% for student in students %}
                totalBid = 1000;
                numCourses = {{ courses | length }};
                bids = [];

                console.log('Randomizing bids for {{ student.name }}');

                // Generate random bids for the courses
                for (let i = 0; i < numCourses - 1; i++) {
                    bid = Math.floor(Math.random() * (totalBid - (numCourses - i - 1)));
                    bids.push(bid);
                    totalBid -= bid;
                }
                // Assign remaining total to the last course
                bids.push(totalBid);

                console.log('Bids generated:', bids);

                // Shuffle bids to randomize distribution
                bids = bids.sort(() => Math.random() - 0.5);

                console.log('Bids after shuffle:', bids);

                // Assign bids to the inputs
                {% for course in courses %}
                    bidValue = bids.pop();
                    console.log('Assigning bid for {{ student.name }} in {{ course.name }}:', bidValue);
                    document.getElementById('bid_{{ student.name }}_{{ course.name }}').value = bidValue;
                {% endfor %}
            {% endfor %}
        }
    </script>
</body>
</html>
