<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fair Allocation - Bids</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <a href="/" class="home-icon">🏠</a>
        <h1>Fair Allocation Demo</h1>
    </header>

    <main>
        <form action="/bids" method="post">
            <!-- Conflict Selection Section -->
            <section class="select-course-conflicts">
                <h2>Select Course Conflicts</h2>
                <div class="table-container">
                    <table border="1">
                        <tr>
                            <th></th> <!-- Empty top-left cell -->
                            {% for course in courses %}
                                <th>{{ course.name }}</th> <!-- Header row with course names -->
                            {% endfor %}
                        </tr>
                        {% for i in range(num_courses) %}
                        <tr>
                            <th>{{ courses[i].name }}</th> <!-- Header column with course names -->
                            {% for j in range(num_courses) %}
                                {% if i != j %}
                                <td>
                                    <input type="checkbox" id="conflict_{{i}}_{{j}}" name="conflict_{{i}}_{{j}}"
                                           onchange="updateConflict({{i}}, {{j}})">
                                </td>
                                {% else %}
                                <td></td> <!-- Empty cell for conflicts with itself -->
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>

                <!-- Randomize Conflicts Button -->
                <button type="button" class="random-button" onclick="randomizeConflicts()">Randomize Conflicts</button>

                <!-- Conflict List Display -->
                <h3>Conflict List:</h3>
                <ul id="conflict-list">
                    <!-- Conflict items will be dynamically added here -->
                </ul>
            </section>

            <!-- Hidden input to store the serialized conflicts -->
            <input type="hidden" id="conflicts-input" name="item_conflicts">

            <!-- Bids Section -->
            <h1>Enter Bids</h1>
            <div class="table-container">
                <table class="bids-table">
                    <tr>
                        <th>Students bids:</th>
                        {% for course in courses %}
                        <th>{{ course.name }}</th>
                        {% endfor %}
                    </tr>
                    {% for student in students %}
                    <tr>
                        <td>{{ student.name }}</td>
                        {% for course in courses %}
                        <td><input type="number" id="bid_{{ student.name }}_{{ course.name }}" name="bid_{{ student.name }}_{{ course.name }}" min="0" max="1000" required></td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <h2>Select Algorithm</h2>
            <select name="algorithm" id="algorithm-select" required onchange="checkAlgorithm()">
                <option value="TTC">TTC</option>
                <option value="SP">SP</option>
                <option value="TTC-O">TTC-O</option>
                <option value="SP-O">SP-O</option>
                <option value="OC">OC</option>
            </select>
            <br><br>

            <!-- Additional select box for cp options, initially hidden -->
            <div id="cp-options" style="display: none;">
                <h3>Select CP Solver</h3>
                <select name="cp_solver">
                    <option value="cp.CBC">cp.CBC</option>
                    <option value="cp.MOSEK">cp.MOSEK</option>
                    <option value="cp.SCIP">cp.SCIP</option>
                    <option value="cp.GLPK_MI">cp.GLPK_MI</option>
                    <option value="cp.SCIPY">cp.SCIPY</option>
                </select>
                <br><br>
            </div>

            <button type="button" class="random-button" onclick="randomizeBids()">Random Bids</button>
            <button type="submit">Submit</button>
        </form>
    </main>
    <!-- Loading Animation -->
    <div id="loading" class="loading-container">
        <div class="spinner"></div>
        <p>Processing, please wait...</p>
    </div>

    <footer>
        <p>Contributed by
            <a href="https://github.com/MoriyaEster" target="_blank">Moriya Ester Ohayon</a>,
            <a href="https://github.com/TamarBarIlan" target="_blank">Tammar Bar-Ilan</a> &
            <a href="https://github.com/ofekats" target="_blank">Ofek Kats</a>
        <br> &copy; 2024. All rights reserved.</p>
    </footer>

    <script>
        const conflicts = {};

        function updateConflict(i, j) {
            const checkboxIJ = document.getElementById(`conflict_${i}_${j}`);
            const checkboxJI = document.getElementById(`conflict_${j}_${i}`);

            // Get the course names using their indices
            const courseNames = {{ courses|tojson }};
            const courseI = courseNames[i].name;
            const courseJ = courseNames[j].name;

            if (checkboxIJ.checked) {
                checkboxJI.checked = true;
                addConflict(courseI, courseJ);
                addConflict(courseJ, courseI);
            } else {
                checkboxJI.checked = false;
                removeConflict(courseI, courseJ);
                removeConflict(courseJ, courseI);
            }

            updateConflictListDisplay();
        }

        function addConflict(course, conflict) {
            if (!conflicts[course]) {
                conflicts[course] = [];
            }
            if (!conflicts[course].includes(conflict)) {
                conflicts[course].push(conflict);
            }
        }

        function removeConflict(course, conflict) {
            if (conflicts[course]) {
                conflicts[course] = conflicts[course].filter(c => c !== conflict);
                if (conflicts[course].length === 0) {
                    delete conflicts[course];
                }
            }
        }

        function updateConflictListDisplay() {
            const conflictList = document.getElementById('conflict-list');
            conflictList.innerHTML = '';

            for (const course in conflicts) {
                const listItem = document.createElement('li');
                listItem.textContent = `${course}: ${conflicts[course].join(', ')}`;
                conflictList.appendChild(listItem);
            }

            // Serialize conflicts and set the hidden input value
            document.getElementById('conflicts-input').value = JSON.stringify(conflicts);
        }

        function randomizeConflicts() {
            const numCourses = {{ num_courses }};
            const minSelections = 1;
            const maxSelections = Math.floor(numCourses / 2);  // Set maximum to half of the number of courses

            // Randomly decide how many conflicts to select (between 1 and maxSelections)
            const numSelections = Math.floor(Math.random() * (maxSelections - minSelections + 1)) + minSelections;

            let selectedCount = 0;

            // Reset all checkboxes
            for (let i = 0; i < numCourses; i++) {
                for (let j = 0; j < numCourses; j++) {
                    if (i !== j) {
                        const checkboxIJ = document.getElementById(`conflict_${i}_${j}`);
                        checkboxIJ.checked = false;
                        updateConflict(i, j);
                    }
                }
            }

            // Randomly select checkboxes up to numSelections
            while (selectedCount < numSelections) {
                const i = Math.floor(Math.random() * numCourses);
                const j = Math.floor(Math.random() * numCourses);

                if (i !== j) {
                    const checkboxIJ = document.getElementById(`conflict_${i}_${j}`);
                    const checkboxJI = document.getElementById(`conflict_${j}_${i}`);

                    if (!checkboxIJ.checked && !checkboxJI.checked) {
                        checkboxIJ.checked = true;
                        checkboxJI.checked = true;
                        updateConflict(i, j);
                        selectedCount++;
                    }
                }
            }

            updateConflictListDisplay();
        }

        function checkAlgorithm() {
            const algorithm = document.getElementById('algorithm-select').value;
            const cpOptions = document.getElementById('cp-options');

            // Show the cp-options select box only for "TTC-O", "SP-O", or "OC"
            if (algorithm === 'TTC-O' || algorithm === 'SP-O' || algorithm === 'OC') {
                cpOptions.style.display = 'block';
            } else {
                cpOptions.style.display = 'none';
            }
        }

        function randomizeBids() {
            let totalBid;
            let numCourses;
            let bids = [];
            let bid;
            let bidValue;

            {% for student in students %}
                totalBid = 1000;
                numCourses = {{ courses | length }};
                bids = [];

                console.log('Randomizing bids for {{ student.name }}');

                // Generate random bids for the courses
                for (let i = 0; i < numCourses - 1; i++) {
                    bid = Math.floor(Math.random() * (totalBid - (numCourses - i - 1)));
                    bids.push(bid);
                    totalBid -= bid;
                }
                // Assign remaining total to the last course
                bids.push(totalBid);

                console.log('Bids generated:', bids);

                // Shuffle bids to randomize distribution
                bids = bids.sort(() => Math.random() - 0.5);

                console.log('Bids after shuffle:', bids);

                // Assign bids to the inputs
                {% for course in courses %}
                    bidValue = bids.pop();
                    console.log('Assigning bid for {{ student.name }} in {{ course.name }}:', bidValue);
                    document.getElementById('bid_{{ student.name }}_{{ course.name }}').value = bidValue;
                {% endfor %}
            {% endfor %}
        }

        document.querySelector('form').addEventListener('submit', function() {
        document.getElementById('loading').style.display = 'block';
        });
    </script>
</body>
</html>
