<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fair Allocation - Info</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <a href="/" class="home-icon">🏠</a>
        <h1>Fair Allocation Demo</h1>
    </header>
    <main>
        <div class="main-background">
            <section class="overview">
                <h1>Course Allocation Problem</h1>
                <h3>Problem Overview</h3>
                <p class="algorithm-description">
                    In the course allocation problem, a university administrator seeks to efficiently and fairly allocate seats (or items) in over-demanded courses among students (or agents) with heterogeneous preferences.
                </p>
            </section>

            <section class="algorithms-section">
                <h3>Algorithms</h3>
                <h4>From the Fairpyx Library</h4>
                <ul class="algorithms">
                    <li>
                        <span class="algorithm-name">TTC (Top Trading-Cycle):</span>
                        <span class="algorithm-description">
                            Assigns one course in each round to each student, the winning students are defined based on the students’ bid values.
                        </span>
                    </li>
                    <li>
                        <span class="algorithm-name">SP (Second Price):</span>
                        <span class="algorithm-description">
                            In each round distributes one course to each student, with the refund of the bids according to the price of the course.
                        </span>
                    </li>
                    <li>
                        <span class="algorithm-name">TTC-O:</span>
                        <span class="algorithm-description">
                            Assigns one course in each round to each student, the winning students are defined based on the students’ bid values. Uses linear planning for optimality.
                        </span>
                    </li>
                    <li>
                        <span class="algorithm-name">SP-O:</span>
                        <span class="algorithm-description">
                            In each round distributes one course to each student, with the refund of the bids according to the price of the course. Uses linear planning for optimality.
                        </span>
                    </li>
                    <li>
                        <span class="algorithm-name">OC:</span>
                        <span class="algorithm-description">
                            In the OC algorithm for CAP, we maximize ordinal utility followed by maximizing cardinal utility among rank-maximal solutions, performing this two-part optimization once for the whole market.
                        </span>
                    </li>
                </ul>
            </section>

            <section class="reference-section">
                <p>
                    Based on: "Optimization-based Mechanisms for the Course Allocation Problem", by Hoda Atef Yekta, Robert Day (2020)
                    <a href="https://doi.org/10.1287/ijoc.2018.0849" target="_blank" class="link">To Read the Paper</a>
                </p>
                <br>
                <a href="https://github.com/Final-Project-fairpyx/fairpyx" target="_blank" class="link">To The GitHub Code</a>
            </section>
        <!-- Container for the button -->
        <div class="button-container">
            <a href="{{ url_for('demo') }}" class="button">Try Demo</a>
        </div>
    </div>
    </main>
    <footer>
        <p>Contributed by
            <a href="https://github.com/MoriyaEster" target="_blank">Moriya Ester Ohayon</a>,
            <a href="https://github.com/TamarBarIlan" target="_blank">Tammar Bar-Ilan</a> &
            <a href="https://github.com/ofekats" target="_blank">Ofek Kats</a>
        <br> &copy; 2024. All rights reserved.</p>
    </footer>
</body>
</html>
