<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fair Allocation - Info</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <a href="/" class="home-icon">🏠</a>
        <h1>Fair Allocation Demo</h1>
    </header>
    <main>
        <div class="form">
        <section>
            <h1>Course Allocation Problem</h1>
            <h3>Problem Overview</h3>
            <p>
                In the course allocation problem, a university administrator seeks to efficiently and fairly allocate seats (or items) in over-demanded courses among students (or agents) with heterogeneous preferences.
            </p>
        </section>

        <section>
            <h3>Algorithms</h3>
            <ul class="algorithms">
                <li>Algorithm 1: Description of the first algorithm.</li>
                <li>Algorithm 2: Description of the second algorithm.</li>
                <li>Algorithm 3: Description of the third algorithm.</li>
                <li>Algorithm 4: Description of the fourth algorithm.</li>
                <li>Algorithm 5: Description of the fifth algorithm.</li>
            </ul>
        </section>

        <!-- Container for the button -->
        <div class="button-container">
            <a href="{{ url_for('demo') }}" class="button">Try Demo</a>
        </div>
    </div>
    </main>
    <footer>
        <p>Contributed by
            <a href="https://github.com/MoriyaEster" target="_blank">Moriya Ester Ohayon</a>,
            <a href="https://github.com/TamarBarIlan" target="_blank">Tammar Bar-Ilan</a> &
            <a href="https://github.com/ofekats" target="_blank">Ofek Kats</a>
        <br> &copy; 2024. All rights reserved.</p>
    </footer>
</body>
</html>
